In [1]:
import praw
import pandas as pd

In [4]:
CLIENT_ID = "x"
CLIENT_SECRET = "x"
USER_AGENT = f"python:{CLIENT_ID}:0.1 (by /u/xStellaMariex)"

In [6]:
api = praw.Reddit(
    client_id = CLIENT_ID,
    client_secret = CLIENT_SECRET,
    user_agent = USER_AGENT
)

In [7]:
api.read_only

True

In [10]:
items = []
submissions = api.subreddit("movies").hot(limit = 15)

for submission in submissions:
    item = {
        "title" : submission.title,
        "score" : submission.score,
        "num_comments" : submission.num_comments
        
    }
    items.append(item)

In [11]:
df = pd.DataFrame(items)
df

    num_comments  score                                              title
0            524   1018  David Gordon Green and Danny McBride here from...
1           1352  24638  Netflix Adds 7 Million Subscribers, Beats Esti...
2            987  11052  Roger Ebert's Anaconda review: Generally trash...
3            542  17307  Ralph Fiennes to Receive Lifetime Achievement ...
4            124    361  Willem Dafoe Defends ‘At Eternity’s Gate’ Cast...
5             37    501  The Guardian: They Shall Not Grow Old review –...
6            117   1134  The Entire 'Teenage Mutant Ninja Turtles' Movi...
7             54    602  The animatronic whales used in "Star Trek IV: ...
8            167    995  Carey Mulligan, Daniel Kaluuya, Martin Freeman...
9              3     67  AMC Theaters Brings Back 1993 "Hocus Pocus" Fo...
10            46    248  Patrick Wilson & Vera Farmiga To Reprise ‘Conj...
11            19     37  A crew gift my dad received, after being hired...
12            57    125  Potential 'They Live' Sequel Teased by John Ca...
13           189    842  First Poster for Crime-Thriller 'Dragged Acros...
14           996    386  Who used to be your favorite actor/actress but...

In [12]:
df.to_json("apireddit_exercise_stella.json")